body { font-family:"Inconsolata",monospace }

ul {
  margin:          0px;
  padding:         0px;
  list-style-type: none
}

.references div {padding-left: 22px; text-indent: -22px}

@media screen and (min-width: 30em) {
  .references {
    -webkit-column-count: 2   ;
    -webkit-column-gap:   20px;
    -moz-column-count:    2   ;
    -moz-column-gap:      20px;
    column-count:         2   ;
    column-gap:           20px
  }
}

.references > * {
  display: inline-block;
  width:   100%
}

/*.selected {
  outline:        gold solid thin;
  outline-offset: -1px           ;
}*/

details[open] summary ~ * {
  animation: sweep .25s ease-in-out;
}

@keyframes sweep {
  0%    { opacity: 0; margin-left: -10px }
  100%  { opacity: 1; margin-left: 0px }
}
