<!DOCTYPE html>
<html lang="en">
  <head>
    <title>$title$</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/postprocess.js"></script>
    $mathjax$
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link rel="stylesheet" href="/css/tachyons.min.css">
    <link rel="stylesheet" href="/css/css.css">
    <link rel="stylesheet" href="/css/syntax.css">
  </head>
  <body class="w100 black pa4">
    <nav>
      <a class="link dim black b f6 f5-ns dib mr3" href="/index.html" title="Home">Semantics II</a>
      <a class="link dim gray f6 f5-ns dib mr3" href="/index.html" title="Home">Schedule</a>
      <a class="link dim gray f6 f5-ns dib mr3" href="/readings.html" title="Readings">Readings</a>
      <a class="link dim gray f6 f5-ns dib mr3" href="/about.html" title="About">Course info</a>
    </nav>

    <div id="content" class="mw7 f7 f6-ns pt3">
      $body$
    </div>

  </body>
</html>
